<!DOCTYPE html>
<html lang="zh-cmn-Hans" class="ua-windows ua-webkit">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <title>
  推荐2012来了的豆列
</title>
    
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
    
    <script >var _head_start = new Date();</script>
    <script src="https://img3.doubanio.com/f/shire/72ced6df41d4d158420cebdd254f9562942464e3/js/jquery.min.js"></script>
    <script src="https://img3.doubanio.com/f/shire/71ac0453da20ef0d46981120323c692ebfc729b5/js/douban.js"></script>
    <link href="https://img3.doubanio.com/f/shire/bdb62d45fb145651da30ac3fec98f21c40cfc962/css/douban.css" rel="stylesheet" type="text/css">
    <style type="text/css">
    
        
    </style>
    
    <link rel="stylesheet" href="https://img3.doubanio.com/misc/mixed_static/48dd208bbded5dae.css">
    <script></script>

    <link rel="shortcut icon" href="https://img3.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>
    
   







<div id="db-global-nav" class="global-nav">
  <div class="bd">
    





<div class="top-nav-info">
      
      <a href="https://www.douban.com/accounts/login?source=movie" class="nav-login" rel="nofollow">登录</a>
      <a href="https://www.douban.com/accounts/register?source=movie" class="nav-register" rel="nofollow">注册</a>
</div>


    <div class="top-nav-doubanapp">
        
        <a href="https://www.douban.com/doubanapp/app?channel=top-nav" class="lnk-doubanapp">下载豆瓣客户端</a>
        <div id="top-nav-appintro" class="more-items">
            <p class="appintro-title">豆瓣</p>
            <p class="slogan">和有趣的人做有趣的事</p>
            <p class="qrcode">
                扫码直接下载
            </p>
            <div class="download">
                <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&amp;direct_dl=1&amp;download=iOS">iPhone</a>
                <span>·</span>
                <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&amp;direct_dl=1&amp;download=Android" class="download-android">Android</a>
            </div>
        </div>
        <div id="doubanapp-tip">
            <a href="https://www.douban.com/doubanapp/app?channel=qipao" class="tip-link">豆瓣 3.0 全新发布</a>
            <a href="javascript: void 0;" class="tip-close">×</a>
        </div>
    </div>

    <div class="global-nav-items">
      <ul>
          
            
            <li class="">
            <a href="https://www.douban.com/" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-main&#34;,&#34;uid&#34;:&#34;0&#34;}">豆瓣</a>
            </li>
          
            
            <li class="">
            <a href="https://book.douban.com/" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-book&#34;,&#34;uid&#34;:&#34;0&#34;}">读书</a>
            </li>
          
            
            <li class="on">
            <a href="https://movie.douban.com/" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-movie&#34;,&#34;uid&#34;:&#34;0&#34;}">电影</a>
            </li>
          
            
            <li class="">
            <a href="https://music.douban.com/" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-music&#34;,&#34;uid&#34;:&#34;0&#34;}">音乐</a>
            </li>
          
            
            <li class="">
            <a href="https://www.douban.com/location/" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-location&#34;,&#34;uid&#34;:&#34;0&#34;}">同城</a>
            </li>
          
            
            <li class="">
            <a href="https://www.douban.com/group/" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-group&#34;,&#34;uid&#34;:&#34;0&#34;}">小组</a>
            </li>
          
            
            <li class="">
            <a href="https://read.douban.com/?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-read&#34;,&#34;uid&#34;:&#34;0&#34;}">阅读</a>
            </li>
          
            
            <li class="">
            <a href="https://douban.fm/?from_=shire_top_nav" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-fm&#34;,&#34;uid&#34;:&#34;0&#34;}">FM</a>
            </li>
          
            
            <li class="">
            <a href="https://dongxi.douban.com/?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-commodity&#34;,&#34;uid&#34;:&#34;0&#34;}">东西</a>
            </li>
          
            
            <li class="">
            <a href="https://market.douban.com/" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-market&#34;,&#34;uid&#34;:&#34;0&#34;}">市集</a>
            </li>
          
            <li>
              <a href="#more" class="bn-more"><span>更多</span></a>
              <div class="more-items">
                <table cellpadding="0" cellspacing="0">
                    
                    <tr><td><a href="https://moment.douban.com" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-moment&#34;,&#34;uid&#34;:&#34;0&#34;}">一刻</a></td></tr>
                    
                    <tr><td><a href="https://ypy.douban.com" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-ypy&#34;,&#34;uid&#34;:&#34;0&#34;}">一拍一</a></td></tr>
                </table>
              </div>
            </li>
      </ul>
    </div>
  </div>
</div>



   
    








<div id="db-nav-movie" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="https://movie.douban.com">豆瓣电影</a>
    </div>
    <div class="nav-search">
      <form action="https://movie.douban.com/subject_search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          <label for="inp-query">电影、影人、影院、电视剧</label>
          <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" value=""></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
          <input type="hidden" name="cat" value="1002" />
        </fieldset>
      </form>
    </div>
  </div>
  </div>
  <div class="nav-secondary">
    
  
  <div class="nav-items nav-anon">
      <ul>
                          
                 <li><a href="https://movie.douban.com/nowplaying/">影讯&amp;购票</a></li>
             
                 <li class="site-nav-bt">
                     <a href="https://movie.douban.com/explore">选电影</a>
                     <img style="top: -5px; position: relative;" src="https://img3.doubanio.com/pics/new_menu.gif"/>
                 </li>
             
                 <li><a href="https://movie.douban.com/tv/">电视剧</a></li>
             
                 <li><a href="https://movie.douban.com/chart">排行榜</a></li>
             
                 <li><a href="https://movie.douban.com/tag/">分类</a></li>
             
                 <li><a href="https://movie.douban.com/review/best/">影评</a></li>
             
                 <li class="site-nav-bt"><a href="https://movie.douban.com/trailers">预告片</a></li>
             
                 <li><a href="https://movie.douban.com/askmatrix/hot_questions/all">问答</a></li>
      
      </ul>
  </div>
 
  </div>
</div>

  
  <script id="suggResult" type="text/x-jquery-tmpl">
      <li data-link="{{= url}}">
          <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg'})">
              <img src="{{= img}}" width="40" />
              <p>
                  <em>{{= title}}</em>
                  {{if year}}
                      <span>{{= year}}</span>
                  {{/if}}
                  {{if sub_title}}
                      <br /><span>{{= sub_title}}</span>
                  {{/if}}
                  {{if address}}
                      <br /><span>{{= address}}</span>
                  {{/if}}
                  {{if episode}}
                      {{if episode=="unknow"}}
                          <br /><span>集数未知</span>
                      {{else}}
                          <br /><span>共{{= episode}}集</span>
                      {{/if}}
                  {{/if}}
              </p>
          </a>
      </li>
  </script>
  






    <div id="wrapper">
        

        
<div id="content">
    
    <h1>推荐2012来了的豆列</h1>

    <div class="grid-16-8 clearfix">
        
        
        <div class="article">
               
  

  <div class="likers-list">
    
  <div class="indent">
      
      <ul class="dl">
        <li class="ll">
          <a class="al" href="https://www.douban.com/people/so-it-is/"><img src="https://img1.doubanio.com/icon/u2773328-97.jpg" class="img" alt="葵花卷"/></a>
        </li>
        <li class="ll">
          <ul>
            <li class="pl2">
              <a href="https://www.douban.com/doulist/673530/">【豆瓣评分4.0以下】</a>
              <span class="pl">(255)</span>
            </li>
                <li class="pl">
                  <a href="https://www.douban.com/people/so-it-is/">葵花卷</a>创建
                  <span class="left">2013-10-20 19:04:00更新</span>
                </li>
          </ul>
        </li>
        <div class="clear"></div>
      </ul>
      <div class="ul"></div>
      
      <ul class="dl">
        <li class="ll">
          <a class="al" href="https://www.douban.com/people/richer725/"><img src="https://img3.doubanio.com/icon/u1114759-42.jpg" class="img" alt="荔枝超人"/></a>
        </li>
        <li class="ll">
          <ul>
            <li class="pl2">
              <a href="https://www.douban.com/doulist/233916/">【2011年国内公映电影排期】</a>
              <span class="pl">(229)</span>
            </li>
                <li class="pl">
                  <a href="https://www.douban.com/people/richer725/">荔枝超人</a>创建
                  <span class="left">2011-12-14 09:11:38更新</span>
                </li>
          </ul>
        </li>
        <div class="clear"></div>
      </ul>
      <div class="ul"></div>
      
      <ul class="dl">
        <li class="ll">
          <a class="al" href="https://www.douban.com/people/nikki66/"><img src="https://img3.doubanio.com/icon/u3495434-740.jpg" class="img" alt="老妖龙你听着"/></a>
        </li>
        <li class="ll">
          <ul>
            <li class="pl2">
              <a href="https://www.douban.com/doulist/557675/">烂片中的奇葩</a>
              <span class="pl">(168)</span>
            </li>
                <li class="pl">
                  <a href="https://www.douban.com/people/nikki66/">老妖龙你听着</a>创建
                  <span class="left">2016-03-19 16:31:20更新</span>
                </li>
          </ul>
        </li>
        <div class="clear"></div>
      </ul>
      <div class="ul"></div>
      
      <ul class="dl">
        <li class="ll">
          <a class="al" href="https://www.douban.com/people/mcyuane/"><img src="https://img3.doubanio.com/icon/u2398315-5.jpg" class="img" alt="阿心在哪里"/></a>
        </li>
        <li class="ll">
          <ul>
            <li class="pl2">
              <a href="https://www.douban.com/doulist/1157526/">没有最低分，只有更低分</a>
              <span class="pl">(357)</span>
            </li>
                <li class="pl">
                  <a href="https://www.douban.com/people/mcyuane/">阿心在哪里</a>创建
                  <span class="left">2016-05-15 21:36:08更新</span>
                </li>
          </ul>
        </li>
        <div class="clear"></div>
      </ul>
      <div class="ul"></div>
      
      <ul class="dl">
        <li class="ll">
          <a class="al" href="https://www.douban.com/people/neo-jay/"><img src="https://img3.doubanio.com/icon/u1199057-5.jpg" class="img" alt="鸟甲"/></a>
        </li>
        <li class="ll">
          <ul>
            <li class="pl2">
              <a href="https://www.douban.com/doulist/665041/">内地票房年度总排行：2011年电影</a>
              <span class="pl">(186)</span>
            </li>
                <li class="pl">
                  <a href="https://www.douban.com/people/neo-jay/">鸟甲</a>创建
                  <span class="left">2016-02-16 13:40:31更新</span>
                </li>
          </ul>
        </li>
        <div class="clear"></div>
      </ul>
      <div class="ul"></div>
      
      <ul class="dl">
        <li class="ll">
          <a class="al" href="https://www.douban.com/people/Jeremy87/"><img src="https://img3.doubanio.com/icon/u3380716-11.jpg" class="img" alt="Colargol"/></a>
        </li>
        <li class="ll">
          <ul>
            <li class="pl2">
              <a href="https://www.douban.com/doulist/1460631/">豆瓣里那些低于4分的电影</a>
              <span class="pl">(192)</span>
            </li>
                <li class="pl">
                  <a href="https://www.douban.com/people/Jeremy87/">Colargol</a>创建
                  <span class="left">2012-02-18 16:56:16更新</span>
                </li>
          </ul>
        </li>
        <div class="clear"></div>
      </ul>
      <div class="ul"></div>
      
      <ul class="dl">
        <li class="ll">
          <a class="al" href="https://www.douban.com/people/leeshiuan/"><img src="https://img3.doubanio.com/icon/u28538097-2.jpg" class="img" alt="李寶庫"/></a>
        </li>
        <li class="ll">
          <ul>
            <li class="pl2">
              <a href="https://www.douban.com/doulist/695731/">陕西元素</a>
              <span class="pl">(76)</span>
            </li>
                <li class="pl">
                  <a href="https://www.douban.com/people/leeshiuan/">李寶庫</a>创建
                  <span class="left">2016-05-10 22:10:29更新</span>
                </li>
          </ul>
        </li>
        <div class="clear"></div>
      </ul>
      <div class="ul"></div>
      
      <ul class="dl">
        <li class="ll">
          <a class="al" href="https://www.douban.com/people/dengdaiyouyi/"><img src="https://img3.doubanio.com/icon/u2360897-66.jpg" class="img" alt="小怡"/></a>
        </li>
        <li class="ll">
          <ul>
            <li class="pl2">
              <a href="https://www.douban.com/doulist/1458815/">剧角映画</a>
              <span class="pl">(48)</span>
            </li>
                <li class="pl">
                  <a href="https://www.douban.com/people/dengdaiyouyi/">小怡</a>创建
                  <span class="left">2013-06-05 21:36:11更新</span>
                </li>
          </ul>
        </li>
        <div class="clear"></div>
      </ul>
      <div class="ul"></div>
      
      <ul class="dl">
        <li class="ll">
          <a class="al" href="https://www.douban.com/people/3602335/"><img src="https://img3.doubanio.com/icon/u3602335-4.jpg" class="img" alt="急支糖浆"/></a>
        </li>
        <li class="ll">
          <ul>
            <li class="pl2">
              <a href="https://www.douban.com/doulist/2579342/">那些名字相似的电影</a>
              <span class="pl">(13)</span>
            </li>
                <li class="pl">
                  <a href="https://www.douban.com/people/3602335/">急支糖浆</a>创建
                  <span class="left">2013-06-28 12:28:58更新</span>
                </li>
          </ul>
        </li>
        <div class="clear"></div>
      </ul>
      <div class="ul"></div>
      
      <ul class="dl">
        <li class="ll">
          <a class="al" href="https://www.douban.com/people/kikikaikai/"><img src="https://img1.doubanio.com/icon/u2428967-89.jpg" class="img" alt="玩酷子弟"/></a>
        </li>
        <li class="ll">
          <ul>
            <li class="pl2">
              <a href="https://www.douban.com/doulist/177942/">是男人就坚持90分钟    (就觉得它是烂片）</a>
              <span class="pl">(68)</span>
            </li>
                <li class="pl">
                  <a href="https://www.douban.com/people/kikikaikai/">玩酷子弟</a>创建
                  <span class="left">2015-02-01 10:37:25更新</span>
                </li>
          </ul>
        </li>
        <div class="clear"></div>
      </ul>
      <div class="ul"></div>
      
      <ul class="dl">
        <li class="ll">
          <a class="al" href="https://www.douban.com/people/ziyanlingsha/"><img src="https://img3.doubanio.com/icon/u43004407-15.jpg" class="img" alt="辰夕"/></a>
        </li>
        <li class="ll">
          <ul>
            <li class="pl2">
              <a href="https://www.douban.com/doulist/969812/">我看过的电影</a>
              <span class="pl">(298)</span>
            </li>
                <li class="pl">
                  <a href="https://www.douban.com/people/ziyanlingsha/">辰夕</a>创建
                  <span class="left">2016-03-08 11:39:34更新</span>
                </li>
          </ul>
        </li>
        <div class="clear"></div>
      </ul>
      <div class="ul"></div>
      
      <ul class="dl">
        <li class="ll">
          <a class="al" href="https://www.douban.com/people/guoxinzhi/"><img src="https://img3.doubanio.com/icon/u47679837-4.jpg" class="img" alt="大糖果的"/></a>
        </li>
        <li class="ll">
          <ul>
            <li class="pl2">
              <a href="https://www.douban.com/doulist/1791196/">2012观影记录</a>
              <span class="pl">(250)</span>
            </li>
                <li class="pl">
                  <a href="https://www.douban.com/people/guoxinzhi/">大糖果的</a>创建
                  <span class="left">2013-01-30 10:26:33更新</span>
                </li>
          </ul>
        </li>
        <div class="clear"></div>
      </ul>
      <div class="ul"></div>
      
      <ul class="dl">
        <li class="ll">
          <a class="al" href="https://www.douban.com/people/3272156/"><img src="https://img3.doubanio.com/icon/u3272156-11.jpg" class="img" alt="Rosy"/></a>
        </li>
        <li class="ll">
          <ul>
            <li class="pl2">
              <a href="https://www.douban.com/doulist/928195/">告诉我你恨不能打负n星的烂电影！</a>
              <span class="pl">(13)</span>
            </li>
                <li class="pl">
                  <a href="https://www.douban.com/people/3272156/">Rosy</a>创建
                  <span class="left">2012-06-06 20:05:19更新</span>
                </li>
          </ul>
        </li>
        <div class="clear"></div>
      </ul>
      <div class="ul"></div>
      
      <ul class="dl">
        <li class="ll">
          <a class="al" href="https://www.douban.com/people/lanbaoer/"><img src="https://img3.doubanio.com/icon/u53782600-26.jpg" class="img" alt="蓝家有女初长成"/></a>
        </li>
        <li class="ll">
          <ul>
            <li class="pl2">
              <a href="https://www.douban.com/doulist/1318115/">白给电影票我都不会去看的影片。【看预告片就悲催了】</a>
              <span class="pl">(83)</span>
            </li>
                <li class="pl">
                  <a href="https://www.douban.com/people/lanbaoer/">蓝家有女初长成</a>创建
                  <span class="left">2012-01-05 18:20:23更新</span>
                </li>
          </ul>
        </li>
        <div class="clear"></div>
      </ul>
      <div class="ul"></div>
      
      <ul class="dl">
        <li class="ll">
          <a class="al" href="https://www.douban.com/people/yesiamkao/"><img src="https://img3.doubanio.com/icon/u1491792-4.jpg" class="img" alt="kao"/></a>
        </li>
        <li class="ll">
          <ul>
            <li class="pl2">
              <a href="https://www.douban.com/doulist/1621525/">港台大陆电影</a>
              <span class="pl">(255)</span>
            </li>
                <li class="pl">
                  <a href="https://www.douban.com/people/yesiamkao/">kao</a>创建
                  <span class="left">2014-01-29 19:17:45更新</span>
                </li>
          </ul>
        </li>
        <div class="clear"></div>
      </ul>
      <div class="ul"></div>
      
      <ul class="dl">
        <li class="ll">
          <a class="al" href="https://www.douban.com/people/leaphyme/"><img src="https://img3.doubanio.com/icon/u2388527-2.jpg" class="img" alt="叶流徵"/></a>
        </li>
        <li class="ll">
          <ul>
            <li class="pl2">
              <a href="https://www.douban.com/doulist/931683/">桥段III.Section III</a>
              <span class="pl">(255)</span>
            </li>
                <li class="pl">
                  <a href="https://www.douban.com/people/leaphyme/">叶流徵</a>创建
                  <span class="left">2012-01-16 13:30:52更新</span>
                </li>
          </ul>
        </li>
        <div class="clear"></div>
      </ul>
      <div class="ul"></div>
      
      <ul class="dl">
        <li class="ll">
          <a class="al" href="https://www.douban.com/people/yanbigflower/"><img src="https://img3.doubanio.com/icon/u4494622-6.jpg" class="img" alt="Sofie"/></a>
        </li>
        <li class="ll">
          <ul>
            <li class="pl2">
              <a href="https://www.douban.com/doulist/1369639/">中港台：古裝。群星。</a>
              <span class="pl">(237)</span>
            </li>
                <li class="pl">
                  <a href="https://www.douban.com/people/yanbigflower/">Sofie</a>创建
                  <span class="left">2011-12-30 15:41:35更新</span>
                </li>
          </ul>
        </li>
        <div class="clear"></div>
      </ul>
      <div class="ul"></div>
      
      <ul class="dl">
        <li class="ll">
          <a class="al" href="https://www.douban.com/people/2574034/"><img src="https://img1.doubanio.com/icon/u2574034-9.jpg" class="img" alt="千寻亿选"/></a>
        </li>
        <li class="ll">
          <ul>
            <li class="pl2">
              <a href="https://www.douban.com/doulist/40534109/">大陆电影目录-2011（含动画片）</a>
              <span class="pl">(703)</span>
            </li>
                <li class="pl">
                  <a href="https://www.douban.com/people/2574034/">千寻亿选</a>创建
                  <span class="left">2015-12-21 21:00:00更新</span>
                </li>
          </ul>
        </li>
        <div class="clear"></div>
      </ul>
      <div class="ul"></div>
      
      <ul class="dl">
        <li class="ll">
          <a class="al" href="https://www.douban.com/people/3048864/"><img src="https://img3.doubanio.com/icon/u3048864-25.jpg" class="img" alt="小龙喵"/></a>
        </li>
        <li class="ll">
          <ul>
            <li class="pl2">
              <a href="https://www.douban.com/doulist/488453/">那些科幻</a>
              <span class="pl">(111)</span>
            </li>
                <li class="pl">
                  <a href="https://www.douban.com/people/3048864/">小龙喵</a>创建
                  <span class="left">2014-08-03 03:05:50更新</span>
                </li>
          </ul>
        </li>
        <div class="clear"></div>
      </ul>
      <div class="ul"></div>
      
      <ul class="dl">
        <li class="ll">
          <a class="al" href="https://www.douban.com/people/leeshiuan/"><img src="https://img3.doubanio.com/icon/u28538097-2.jpg" class="img" alt="李寶庫"/></a>
        </li>
        <li class="ll">
          <ul>
            <li class="pl2">
              <a href="https://www.douban.com/doulist/758151/">数字命名</a>
              <span class="pl">(229)</span>
            </li>
                <li class="pl">
                  <a href="https://www.douban.com/people/leeshiuan/">李寶庫</a>创建
                  <span class="left">2016-05-16 01:13:40更新</span>
                </li>
          </ul>
        </li>
        <div class="clear"></div>
      </ul>
      <div class="ul"></div>
      
      <ul class="dl">
        <li class="ll">
          <a class="al" href="https://www.douban.com/people/48764411/"><img src="https://img3.doubanio.com/icon/u48764411-2.jpg" class="img" alt="Adeline艾德琳"/></a>
        </li>
        <li class="ll">
          <ul>
            <li class="pl2">
              <a href="https://www.douban.com/doulist/1040554/">My Movie List-2</a>
              <span class="pl">(185)</span>
            </li>
                <li class="pl">
                  <a href="https://www.douban.com/people/48764411/">Adeline艾德琳</a>创建
                  <span class="left">2013-08-27 19:07:49更新</span>
                </li>
          </ul>
        </li>
        <div class="clear"></div>
      </ul>
      <div class="ul"></div>
      
      <ul class="dl">
        <li class="ll">
          <a class="al" href="https://www.douban.com/people/wandawhhs/"><img src="https://img3.doubanio.com/icon/u55366946-2.jpg" class="img" alt="ㄒo暁可"/></a>
        </li>
        <li class="ll">
          <ul>
            <li class="pl2">
              <a href="https://www.douban.com/doulist/1385005/">12月电影列表</a>
              <span class="pl">(18)</span>
            </li>
                <li class="pl">
                  <a href="https://www.douban.com/people/wandawhhs/">ㄒo暁可</a>创建
                  <span class="left">2011-12-01 11:34:36更新</span>
                </li>
          </ul>
        </li>
        <div class="clear"></div>
      </ul>
      <div class="ul"></div>
      
      <ul class="dl">
        <li class="ll">
          <a class="al" href="https://www.douban.com/people/fcjdyc/"><img src="https://img3.doubanio.com/icon/u52675306-2.jpg" class="img" alt="17.5影城恒丰店"/></a>
        </li>
        <li class="ll">
          <ul>
            <li class="pl2">
              <a href="https://www.douban.com/doulist/1385110/">【十二月影讯】新片抢先知</a>
              <span class="pl">(19)</span>
            </li>
                <li class="pl">
                  <a href="https://www.douban.com/people/fcjdyc/">17.5影城恒丰店</a>创建
                  <span class="left">2011-12-01 13:39:13更新</span>
                </li>
          </ul>
        </li>
        <div class="clear"></div>
      </ul>
      <div class="ul"></div>
      
      <ul class="dl">
        <li class="ll">
          <a class="al" href="https://www.douban.com/people/polyfilm_nb/"><img src="https://img3.doubanio.com/icon/u55456919-1.jpg" class="img" alt="宁波保利影城"/></a>
        </li>
        <li class="ll">
          <ul>
            <li class="pl2">
              <a href="https://www.douban.com/doulist/1393119/">十二月上映</a>
              <span class="pl">(17)</span>
            </li>
                <li class="pl">
                  <a href="https://www.douban.com/people/polyfilm_nb/">宁波保利影城</a>创建
                  <span class="left">2011-12-07 20:39:22更新</span>
                </li>
          </ul>
        </li>
        <div class="clear"></div>
      </ul>
      <div class="ul"></div>
      
      <ul class="dl">
        <li class="ll">
          <a class="al" href="https://www.douban.com/people/61898318/"><img src="https://img3.doubanio.com/icon/u61898318-3.jpg" class="img" alt="心晴"/></a>
        </li>
        <li class="ll">
          <ul>
            <li class="pl2">
              <a href="https://www.douban.com/doulist/1566836/">大一  ~~    电影</a>
              <span class="pl">(12)</span>
            </li>
                <li class="pl">
                  <a href="https://www.douban.com/people/61898318/">心晴</a>创建
                  <span class="left">2012-09-07 22:43:03更新</span>
                </li>
          </ul>
        </li>
        <div class="clear"></div>
      </ul>
      <div class="ul"></div>
      
      <ul class="dl">
        <li class="ll">
          <a class="al" href="https://www.douban.com/people/59580012/"><img src="https://img3.doubanio.com/icon/u59580012-4.jpg" class="img" alt="丝毯申"/></a>
        </li>
        <li class="ll">
          <ul>
            <li class="pl2">
              <a href="https://www.douban.com/doulist/1630638/">保护视力 远离烂片</a>
              <span class="pl">(46)</span>
            </li>
                <li class="pl">
                  <a href="https://www.douban.com/people/59580012/">丝毯申</a>创建
                  <span class="left">2012-08-17 12:26:18更新</span>
                </li>
          </ul>
        </li>
        <div class="clear"></div>
      </ul>
      <div class="ul"></div>
      
      <ul class="dl">
        <li class="ll">
          <a class="al" href="https://www.douban.com/people/4531236/"><img src="https://img3.doubanio.com/icon/u4531236-5.jpg" class="img" alt="Jerry"/></a>
        </li>
        <li class="ll">
          <ul>
            <li class="pl2">
              <a href="https://www.douban.com/doulist/1733406/">好电影</a>
              <span class="pl">(255)</span>
            </li>
                <li class="pl">
                  <a href="https://www.douban.com/people/4531236/">Jerry</a>创建
                  <span class="left">2014-07-22 20:41:30更新</span>
                </li>
          </ul>
        </li>
        <div class="clear"></div>
      </ul>
      <div class="ul"></div>
      
      <ul class="dl">
        <li class="ll">
          <a class="al" href="https://www.douban.com/people/67212082/"><img src="https://img1.doubanio.com/icon/user_normal.jpg" class="img" alt="小孩"/></a>
        </li>
        <li class="ll">
          <ul>
            <li class="pl2">
              <a href="https://www.douban.com/doulist/1744346/">jj</a>
              <span class="pl">(1)</span>
            </li>
                <li class="pl">
                  <a href="https://www.douban.com/people/67212082/">小孩</a>创建
                  <span class="left">2012-12-15 12:31:55更新</span>
                </li>
          </ul>
        </li>
        <div class="clear"></div>
      </ul>
      <div class="ul"></div>
      
      <ul class="dl">
        <li class="ll">
          <a class="al" href="https://www.douban.com/people/52285009/"><img src="https://img3.doubanio.com/icon/u52285009-2.jpg" class="img" alt="洛风城"/></a>
        </li>
        <li class="ll">
          <ul>
            <li class="pl2">
              <a href="https://www.douban.com/doulist/1976082/">百部烂片黑名单（第三序列）</a>
              <span class="pl">(100)</span>
            </li>
                <li class="pl">
                  <a href="https://www.douban.com/people/52285009/">洛风城</a>创建
                  <span class="left">2013-04-08 17:11:06更新</span>
                </li>
          </ul>
        </li>
        <div class="clear"></div>
      </ul>
      <div class="ul"></div>
      
      <ul class="dl">
        <li class="ll">
          <a class="al" href="https://www.douban.com/people/71953415/"><img src="https://img3.doubanio.com/icon/u71953415-2.jpg" class="img" alt="米格米格"/></a>
        </li>
        <li class="ll">
          <ul>
            <li class="pl2">
              <a href="https://www.douban.com/doulist/2464713/">movie</a>
              <span class="pl">(256)</span>
            </li>
                <li class="pl">
                  <a href="https://www.douban.com/people/71953415/">米格米格</a>创建
                  <span class="left">2013-06-10 13:24:19更新</span>
                </li>
          </ul>
        </li>
        <div class="clear"></div>
      </ul>
      <div class="ul"></div>
  </div>

  </div>
  
    
    

    
        <div class="paginator">
        <span class="prev">
            &lt;前页
        </span>
        
        

                <span class="thispage" data-total-page="2">1</span>
                
            <a href="https://movie.douban.com/subject/6974521/doulists?start=30" >2</a>
        
        <span class="next">
            <link rel="next" href="https://movie.douban.com/subject/6974521/doulists?start=30"/>
            <a href="https://movie.douban.com/subject/6974521/doulists?start=30" >后页&gt;</a>
        </span>

            <span class="count">(共35个)</span>
        </div>



        </div>
        <div class="aside">
                
  <div class="mod side-nav">
    &gt; <a href="https://movie.douban.com/subject/6974521/">回2012来了的页面</a>
  </div>
  <div class="mod side-nav">
  </div>

        </div>
        <div class="extra">
            
        </div>
    </div>
</div>

        
<div id="footer">
    
<span id="icp" class="fleft gray-link">
    &copy; 2005－2016 douban.com, all rights reserved 北京豆网科技有限公司
</span>

<a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

<span class="fright">
    <a href="https://www.douban.com/about">关于豆瓣</a>
    · <a href="https://www.douban.com/jobs">在豆瓣工作</a>
    · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
    · <a href="https://www.douban.com/about?policy=disclaimer">免责声明</a>
    
    · <a href="https://help.douban.com/?app=movie" target="_blank">帮助中心</a>
    · <a href="https://www.douban.com/doubanapp/">移动应用</a>
    · <a href="https://www.douban.com/partner/">豆瓣广告</a>
</span>

</div>

    </div>
    <script type="text/javascript" src="https://img3.doubanio.com/misc/mixed_static/dd67e2ae64df9a4.js"></script>
    
    
    









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-7019765-1']);
_gaq.push(['_setCampNameKey', 'dcn']);
_gaq.push(['_setCampSourceKey', 'dcs']);
_gaq.push(['_setCampMediumKey', 'dcm']);
_gaq.push(['_setCampTermKey', 'dct']);
_gaq.push(['_setCampContentKey', 'dcc']);
_gaq.push(['_addOrganic', 'baidu', 'word']);
_gaq.push(['_addOrganic', 'soso', 'w']);
_gaq.push(['_addOrganic', '3721', 'name']);
_gaq.push(['_addOrganic', 'youdao', 'q']);
_gaq.push(['_addOrganic', 'so.360.cn', 'q']);
_gaq.push(['_addOrganic', 'vnet', 'kw']);
_gaq.push(['_addOrganic', 'sogou', 'query']);
_gaq.push(['_addIgnoredOrganic', '豆瓣']);
_gaq.push(['_addIgnoredOrganic', 'douban']);
_gaq.push(['_addIgnoredOrganic', '豆瓣网']);
_gaq.push(['_addIgnoredOrganic', 'www.douban.com']);
_gaq.push(['_setDomainName', '.douban.com']);


    _gaq.push(['_setCustomVar', 1, 'responsive_view_mode', 'desktop', 3]);

_gaq.push(['_trackPageview']);
_gaq.push(['_trackPageLoadTime']);

window._ga_init = function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
};
if (window.addEventListener) {
    window.addEventListener('load', _ga_init, false);
} else {
    window.attachEvent('onload', _ga_init);
}
</script>





    <!-- sindar21c-docker-->

  <script>_SPLITTEST=''</script>
</body>

</html>


