质量问题
假冒伪劣
假货
侵权
欺诈
纠纷
色情
赌博
低俗
暴力
沉迷
泄露用户信息
物流慢
虚假促销
售后服务难
夸大收益
坏账逾期
提现困难
清盘
食品安全
广告骚扰
侵犯个人隐私
裁员
欠薪
潜规则
骚扰
歧视
劳资纠纷
安全事故
危害健康
扰民
不正当竞争
侵犯知识产权
拖欠货款
夸大融资额
经营数据作假
诈骗投资人
挪用亏空
逃税
污染
违规排放
浪费资源
环境问题
违法
处罚
诉讼
黑幕
曝光
虚假宣传
炒作
争议
负面
原罪
跑路
失联